.Body {
    background: whitesmoke ;
    height: 100vh;
    width: 100%;
  }
  
  .Header {
    background: grey;
    position: absolute;
    top: 0;
    width: 100%;
    height: 35vh;
    border: 1px;
  }

  #Auth {
    background: rgb(60, 22, 201);
  }