.home-body {
    background: whitesmoke;
    background-size: cover;
    overflow: hidden;
  }
  
.Home-header {
  position: absolute;
  top: 0;
  width: stretch;
  height: 25vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 7vw;
  color: whitesmoke;
  background: rgb(19, 117, 15);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

#user-image {
  border-radius: 50%;
  width: 20%;
}

#user {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vw;
  color: whitesmoke;
}

.home-cards {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* border: lightseagreen solid 2px; */
}

.home-component-cards {
  margin: 1% 2% 2% 2%;
  height: 15vh;
  width: 40%;
}

.color-card {
  border: none;
  background: linear-gradient(128deg, rgba(64, 61, 57, 0.1), rgba(255, 255, 255, 0.2));;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  color: rgb(60, 22, 201);
  font-size: 3vw;
  height: 100%;
  width: 100%;
}

.color-card:hover {
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8.5px 25px 0 rgba(0,0,0,0.19);
}

.button-text {
  font-size: 1vw;
}

@media (max-width: 425px) {
  .home-cards {
    justify-content: center;
  }

  .home-component-cards{
    width: 100%;
    height: 80px;
  }
}

@media (max-width: 786px) {
  .color-card {
    font-size: 5vw;
  }

  .button-text {
    font-size: 3vw;
  }
}

  