.Body {
    background: whitesmoke ;
    height: 100vh;
    width: 100%;
  }
  
  .Header-Auth {
    background: grey;
    position: absolute;
    top: 0;
    width: 100%;
    height: 25vh;
    border: solid black 1px;
    border-radius: 25px;
    font-size: 7vw;
    color: whitesmoke;
  }

  #Auth {
    background: rgb(19, 117, 15);
    text-align: center;
    margin: auto;
  }

  